body {
    font-family: sans-serif;
}
header{
    border-radius:10px;
    padding: 15px;
    background-color: cyan;
    }

    header a{
        border: 2px solid white;

      border-radius: 10px;
      padding: 15px;
      color:white;
      background-color: blue;
    }
    h1{
      border:1px solid black;
      border-radius:15px;
      color:blue;
      text-align: center;
      font-size: 30px;
    }
    footer{
background-color: pink;
padding: 10px;
 }
 footer p{
  background-color: aqua;
  padding:5px;
 }
 nav{
    padding: 20px;
    text-align: center;

 }
 nav a{
    text-decoration: none;
    background-color: blue;
    color: black;
    padding: 5px;
    border: 2px solid blue;
    border-radius: 10px;
    margin:20px;
 }

 .first{
    background-color: white;
    color: blue;
 }
 .boja
 {
    background-color: aqua;
    border-radius: 15px;
    padding:5px;


 }
 h2{
    font-size:40px;
    padding: 20px;
    color:green;
 }
